async-generator==1.8      # via pytest-asyncio
colorama==0.3.9           # via pytest
coverage==4.4.1
flake8==3.4.1
mccabe==0.6.1             # via flake8
py==1.4.34                # via pytest
pycodestyle==2.0.0        # via flake8
pyflakes==1.5.0           # via flake8
pytest-asyncio==0.8.0
pytest==3.2.2
six==1.11.0               # via structlog
structlog==16.1.0
testfixtures==4.10.0
